.contentTitle {
  text-align: center;
}

.contents {
  text-align: center;
}

.content {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  writing-mode: vertical-rl;
  flex-flow: column;
  display: block;
  background-color: aqua;
}
