.contentTitle {
  text-align: center;
}

.contents {
  text-align: center;
}

.content {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  writing-mode: vertical-rl;
  flex-flow: column;
  display: block;
  background-color: aqua;
  text-align: left;
  height: 30%;
}

.firstPart {
  padding-top: 15%;
}

.middlePart {
  padding-top: 25%;
}

.lastPart {
  padding-top: 35%;
}

.editButton {
  background: transparent;
  border: none;
  outline: none;
}
